$primary: #f4994b;

@import '~bootstrap/scss/bootstrap';

// ------------------------ GENERAL STUFF

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

// prevents chrome swipe navigation
body {
  touch-action: none;
}

// for main div container
.main {
  padding-top: 20px;
}


// ------------ Colors

#teal{
  width: 6em;
  height: 6em;
  background-color:teal;
  margin-left: 10%;
}
#orange{
  height: 4em;
  width: 35%;
  padding: 2em 8em;
  margin-left: 8em;
  margin-top: 6em;
  background-color: orange;
}

#red{
  width:6em;
  height: 4em;
  margin-left: 30%;
  padding:4em 3em;
  background-color:red;
}
#aqua{
  width: 5em;
  height: 5em;
  margin-left:15%;
  background-color:aqua;
}
#purple{
  width: 15em;
  height: 5em;
  background-color:purple;
}
#green{
  width: 5em;
  height: 7em;
  margin-top: 2em;
  margin-left: 50%;
  background-color: green;
}

select {
  display:inline-block;
  padding:0.25em 0.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  background-color: #4b86b4;
}

button{
  display:inline-block;
  padding:0.25em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  background-color: #4b86b4;
}

button:hover{
  color:#000000;
  background-color:#FFFFFF;
}
@media all and (max-width:30em){
  button {
    display:block;
    margin:0.4em auto;
  }
}

// -------------- Application related

.outer-frame {
  height: 100vh;
}

.inner-frame {
  height: 95%;
}

// ---------------------------- Header Stuff

.header {
  width: 100%;
  height: 5%;
  padding: 0.4em;
  background-color: #adcbe3
}

.spawn-button {
  display: inline-block;
}

// -------------- Loader Stuff

.loader {
  width: 23em;
  display: inline-block;
  float: right;
  text-align: right;
  white-space: nowrap;
  padding-right: 3em;
}

.loader-input {
  width: 50%;
}

.loader-select {
  width: 50%;
}

// ---------------------------- Node Stuff

.node-wrapper {
  z-index: 110;
  position: absolute;
  width: 100px;
  height: 100px;
  user-select: none;
}

.node {
  z-index: 110;
  width: 100px;
  height: 100px;
  background-color: #63ace5;
}

.node-textarea {
  width: 100%;
  height: 100%;
  font-size: 1em;
}

.centered-text {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(0%, -50%);
}

// ---------------------------- Target Stuff

.target-wrapper {
  position: absolute;
  width: 3em;
  height: 3em;
  user-select: none;
}

.target {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.target-on {
  background-color: #FFD700;
}

.target-off {
  background-color: #bbb;
}

// ---------------------------- Final Target Stuff

.final-target-wrapper {
  position: absolute;
  width: 3em;
  height: 3em;
  user-select: none;
}

.final-target {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.final-target-on {
  background-color: #FFD700;
}

.final-target-off {
  background-color: #bbb;
}

// ---------------------------- PowerSource Stuff

.power-source-wrapper {
  left: 5%;
  position: absolute;
  width: 3em;
  height: 3em;
  user-select: none;
}

.power-source {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.power-source-on {
  background-color: #FFD700;
}

.power-source-off {
  background-color: #bbb;
}

// ---------------------------- Socket Stuff

.socket-wrapper {
  z-index: 100;
  position: absolute;
  width: 8em;
  height: 8em;
  user-select: none;
}

.socket {
  z-index: 100;
  width: 8em;
  height: 8em;
  background-color: gray;
  user-select: none
}

.a-label {
  position: absolute;
  left: 110%;
  top: 0%;
}

.b-label {
  position: absolute;
  right: 120%;
  bottom: 65%;
}

.c-label {
  position: absolute;
  left: 100%;
  bottom: 55%;
}

.editIcon {
  position: absolute;
  left: 103%;
  top: 5%;
  width: 0.9em;
  height: 0.9em;
  opacity: 0.3;
  cursor: pointer;
  font-size: 1em;
}

.editIcon:hover {
  opacity: 1;
}

// ---------------------------- Connector Stuff

.connector {
  position: absolute;
  border-radius: 50%;
  width: 0.9em;
  height: 0.9em;
  background-color: white;
  border-color: black;
  border: solid 2px;
  cursor: pointer;
}
.connector:hover {
  opacity: 0.3;
}

.connector-out {
  top: 30%;
  left: 95%;
}

.connector-in {
  top: 30%;
  left: -20%;
}

.connector-a {
  top: 95%;
  left: 45%;
}

.connector-b {
  top: 45%;
  left: -5%;
}

.connector-c {
  top: -5%;
  left: 45%;
}

.connector-d {
  top: 45%;
  left: 95%;
}



// ---------------------------- Connection Stuff

#svgContainer {
	z-index: -10;
	position:absolute;
	background-color:silver;
	opacity: 0.5;
}

.svg-container {
  background-color:	#e7eff6;
}



// ------------------- NO IDEA

//#outer{
//	margin:0 auto;
//	width: 80%;
//}




.close {
  position: absolute;
  left: 103%;
  top: -13%;
  width: 0.9em;
  height: 0.9em;
  opacity: 0.3;
  cursor: pointer;
  font-size: 1em;
}
.close:hover {
  opacity: 1;
}

